@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9FA;
}

.wrapper {
    margin-top: 80px;
    display: grid;
    justify-content: center;
}

.header {
    display: grid;
    justify-content: center;
}

.header__caption {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #4343FF 0%, #F96D6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.header__title {
    margin-top: 22px;
    max-width: 845px;
    font-size: 46px;
    color: #110C11;
    font-family: 'Open Sans';
    font-weight: 700;
    text-align: center;
}

.solutions-blocks {
    margin-top: 80px;
    max-width: 1440px;
}

.solutions-blocks__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-bottom: 35px;
}

.solutions-blocks__item {
    background-color: #ffffff;
    padding: 22px;
    max-width: 385px;
}

.solutions-blocks__item-heading {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    color: #110C11;
    text-transform: uppercase;
}

.solutions-blocks__item-descr {
    margin-top: 28px;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #5C5C5C;
}